body {
    margin: 0;
    width: 125%;
    width: 1530px;
}

.header {
    display: flex;
    width: 1530px;
    height: 120px;
    background: #FAFAFA;
}

.logo {
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 400px;
}

.ul_title {
    margin-top: 50px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
}

.class_subtitle {
    margin-right: 31px;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
}

.head_button {
    margin-top: 35px;
    margin-bottom: 43px;
    width: 150px;
    height: 44px;
    border: 1px solid rgba(247, 148, 30, 1);
    border-radius: 5px;
    margin-left: 371px;
    margin-right: 34px;
}

.btn {
    text-align: center;
    width: 150px;
    height: 44px;
    margin-top: 212px;
    text-decoration: none;
}

.btn_text {  
    height: 22px;
    margin-top: 10px;
    margin-bottom: 14px;
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-left: 25px;
    color: #F7941E;
}